@page 
        {

            margin-left: 170px;
        }



.float-right {
	
    float:right;
}

.btn-m-left {
	margin-left: 10px;
}

table tr td {
	text-transform: capitalize;
}

.form_inline {
	display: inline;
}

.qr_div {
	display: none;
	margin-left: 60px;
}

.btn-print {
	/* margin-left: 690px; */
	float:right;
}


    
.panel-body .list-inline>.searh-form {
	margin-right: 222px;
	float: right;
}